$--color-text-primary: #4E4E4E !default;


$--font-base: 14px !default;

$--color-white: #fff;
$--color-primary: #00bb89;

$--w: 1200px;

$--border-radius-base: 4px;

/* header */
$--header-height: 80px;




